projectsoap/src/main/resources/wsdl/Poverenik.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PoverenikService" targetNamespace="http://soap.spring.com/ws/poverenik" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.spring.com/ws/poverenik" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:message name="saveReport">
    <wsdl:part name="izvestaj" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part name="text" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveExplanation">
    <wsdl:part name="xml" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveReportResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveExplanationResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Poverenik">
    <wsdl:operation name="saveReport">
      <wsdl:input name="saveReport" message="tns:saveReport">
    </wsdl:input>
      <wsdl:output name="saveReportResponse" message="tns:saveReportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input name="sayHi" message="tns:sayHi">
    </wsdl:input>
      <wsdl:output name="sayHiResponse" message="tns:sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveExplanation">
      <wsdl:input name="saveExplanation" message="tns:saveExplanation">
    </wsdl:input>
      <wsdl:output name="saveExplanationResponse" message="tns:saveExplanationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PoverenikServiceSoapBinding" type="tns:Poverenik">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveReport">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="saveReport">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:input>
      <wsdl:output name="saveReportResponse">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveExplanation">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="saveExplanation">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:input>
      <wsdl:output name="saveExplanationResponse">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/poverenik"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PoverenikService">
    <wsdl:port name="PoverenikPort" binding="tns:PoverenikServiceSoapBinding">
      <soap:address location="http://localhost:8071/PoverenikPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
