demo/data/email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="email">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="subject" type="xs:string"/>
                <xs:element name="text" type="xs:string"/>
                <xs:element name="pdf" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
