XMLprojekat/data/obavestenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.projekat.org/obavestenje"
    xmlns:ob="http://www.projekat.org/obavestenje">
    <xs:element name="obavestenje">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="opste_informacije" type="ob:Topste_informacije"> </xs:element>
                <xs:element name="naslov" type="ob:TNaslov"> </xs:element>
                <xs:element name="podnaslov" type="ob:TNaslov"> </xs:element>
                <xs:element name="telo" type="ob:Ttelo_obavestenja" maxOccurs="1" minOccurs="1"> </xs:element>
                <xs:element name="dostavljeno" maxOccurs="unbounded">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Imenovanom"/>
                            <xs:enumeration value="Arhivi"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="potpis_rukovodioca">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" name="Tadresa" mixed="true">
        <xs:sequence>
            <xs:element name="naziv_ulice">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="broj_ulice">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="naziv_grada">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tadresa_organa" mixed="true">
        <xs:complexContent>
            <xs:extension base="ob:Tadresa">
                <xs:sequence>
                    <xs:element name="broj_kancelarije">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Tadresa_podnosioca" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="ob:Tadresa">
                <xs:sequence>
                    <xs:element name="grad" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="postanski_broj">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="11000"/>
                                <xs:maxInclusive value="38999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Ttelo_obavestenja" mixed="true">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="godina" type="xs:gYear" minOccurs="0"/>
            <xs:element name="opis_trazene_informacije" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datum" type="ob:TDatum" minOccurs="0"/>
            <xs:element name="vreme" type="xs:time" minOccurs="0"/>
            <xs:element name="od" type="xs:time" minOccurs="0"/>
            <xs:element name="do" type="xs:time" minOccurs="0"/>
            <xs:element name="adresa_organa" type="ob:Tadresa_organa" minOccurs="0"/>
            <xs:element minOccurs="0" name="troskovi">
                <xs:complexType mixed="false">
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="stavka">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:element name="naziv_troska" type="xs:string"/>
                                    <xs:element name="cena" type="xs:double"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ziro_racun">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element name="primalac" type="xs:string"/>
                        <xs:element name="br_racuna">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{3}-[0-9]{6}-[0-9]{3}-[0-9]{2}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="poziv_na_broj">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ukupni_trosak">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="zakon" type="ob:TZakon"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Torgan">
        <xs:sequence>
            <xs:element name="naziv">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sediste">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tpodnosilac">
        <xs:sequence>
            <xs:element name="ime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="prezime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="naziv_zahteva">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="adresa" type="ob:Tadresa_podnosioca"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Topste_informacije">
        <xs:sequence>
            <xs:element name="podaci_o_organu" type="ob:Torgan"/>
            <xs:element name="broj_predmeta">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                        <xs:pattern value="[0-9]{3}-[0-9]{2}-[0-9]{4}/[0-9]{4}-[0-9]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="datum" type="ob:TDatum"/>
            <xs:element name="podaci_o_podnosiocu" type="ob:Tpodnosilac"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TDatum">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}[.]\d{2}[.]\d{4}[.]"/>
            <xs:length value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TNaslov">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="ob:nivo"/>
                <xs:attribute ref="ob:stil"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:attribute name="nivo" type="ob:nivoi">
        <xs:annotation>
            <xs:documentation>atribut koji predstavlja nivo naslova ili liste</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stil" type="xs:string">
        <xs:annotation>
            <xs:documentation>atribut kojim se defini[e stil odre]eneog elementa</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:simpleType name="nivoi">
        <xs:annotation>
            <xs:documentation>Tip koji predstalvja nivoe 1-6</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TZakon">
        <xs:sequence>
            <xs:element minOccurs="0" name="clan" type="xs:string"> </xs:element>
            <xs:element minOccurs="0" name="stav" type="xs:string"> </xs:element>
            <xs:element minOccurs="0" name="tacka" type="xs:string"> </xs:element>
            <xs:element minOccurs="1" name="naziv" type="xs:string"> </xs:element>
            <xs:element minOccurs="0" name="glasnik" type="xs:string"> </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
